body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

header {
    /* background-color: #080122; */
    background-color: rgb(135, 158, 222);
    color: #fff;
    text-align: center;
    padding: 1rem;
    z-index: 10;
    border-bottom: 2px ridge gainsboro;
}
#div1{
    margin-top: 10%;
    position: relative;
}

header h1 {
    margin: 0;
}
.h1{
    z-index: 11;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

section.project {
    margin: 20px;
    padding: 20px;
    border: 2px outset #ddd;
}

section.project h2,h3 {
    color: #333;
}

section.project img {
    height: 4%;
    width: 4%;
    margin-bottom: 10px;
}

footer {
    /* background-color: #080122; */
    background-color:rgb(135, 158, 222);
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px ridge gainsboro;
}
#div{
    margin-top: 0.5vh;
}
